.dashboard {
  display: flex;
  flex-direction: column;
  width: 99%;
  margin-left: 5px;
  height: 90vh;

  &__header {
    margin: 20px 0 15px 25px;
    font-size: 25px;
    color: gray;
   display: flex;
   align-items: center;
    &__title {
      width: 30%;
    }
    &__widget_container {
      width: 70%;
      display: flex;
      justify-content: start;
      align-items: center;
    }

  }

  &__content {
    display: flex;
    margin: 0 25px;
    height: 100%;
    flex-direction: column;
  

    &__tabs-container {
      height: 100%;

      .p-tabview-panels {
        border-left: unset !important;
        border-right: unset !important;
        border-bottom: unset !important;
      }

      &__top-content {
        height: 48%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        &__block {
          width: 48%;
        }

      }

      &__bottom-content {
        height: 48%;
      }
    }
  }
}