.layout{
   &__top-bar{
       height: 10vh;
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-bottom: 1px solid  #c8c8c8;
       &__logo {
           margin-left: 10px;
           color: #2895A0;
       }
       &__input{
           width: 30%;
       }
       &__param-container{
           display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
        img {
            width: 30px;
            margin-right : 20px;
        }
            &__info {
                 margin-right : 30px;
                 &__top {

                 }
                 &__bottom {
                    color: #2895A0;
                 }
                 
            }
       }
   }
    &__content {
        display: flex;
        height: 90vh;

        &__side-bar {
            width: 300px;
            border : 1px solid #c8c8c8;
            border-bottom: unset;
            padding :15px 3px 0 3px;
            margin-right: 15px;
            height: 100%;
        }
        &__main {
            width: 100%;
        }
    }

}