.widget{
    width: 180px;
    height: 95px;
    border : 1px solid #D0D0D0;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 4em;
        margin-right:7px;
    }
    span {
        font-size: 35px;
        color :gray
    }
}